extends ../layouts/default

block main
  h1= title

block content
  - if (articles.length)
    - each article in articles
      .article
        h3
          a(href='/articles/'+article._id, title=article.title) #{article.title}
        p
          article.venue
        p= article.body
        .meta
          span.muted= formatDate(article.createdAt)

    - if (pages > 1)
      ul.pagination
        != createPagination(pages, page)
  - else
    h4.muted No articles.&nbsp;
      a(href="/articles/new") create one
